.dropzone.dz-clickable {
    cursor: pointer !important;
}
.dropzone {
    border: 2px dashed #0087F7 !important;
    border-radius: 5px !important;
    background: white !important;
    min-height: 150px !important;
    padding: 54px 54px !important;
}
.dropzone, .dropzone * {
    box-sizing: border-box !important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#sucess {
    color: #4F8A10;
    background-color: #DFF2BF;
    height : 500px;
    vertical-align: middle ;
    text-align: center;
    line-height: 500px ;
    font-weight: bold;
    font-size: 30pt;
    margin-top: 20px;
    cursor:pointer;

}
/* Overline From Center */
#sucess{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#sucess:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4F8A10;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#sucess:hover, #sucess:focus, #sucess:active {
    color: white;
}
#sucess:hover:before, #sucess:focus:before, #sucess:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/**
* Boostrap switch
*/
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background-color: #235ead  !important;
    border-radius: 0px !important;
}
.bootstrap-switch{
    border-radius: inherit;
}
#barre {
    background-color : #424243  ;
    height : 80px;
    color : #ffffff ;
    vertical-align: middle ;
    line-height: 80px ;
    font-weight: bold;
    font-size: 20pt;
    background-image: url("../img/globalD.png");
    background-size: 15% auto;
    background-repeat: no-repeat;
}